body, html{
    width: 100%;
    height: 100%;

}
/*------------------FUNDO----------------------------*/
div.fundo{
    background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/background.jpg') center top;
    background-size: 700px 700px;
    background-position: top;
    width: 100%;
    height: 100%;
    filter: blur(2.5px);
    position: absolute;
    z-index: -10;

}
/*------------FORMATACAO TELA INICIAL*/
.inicio{
    display: ;
}
.inicio h1{
    text-align: center;
    padding-top: 10vw;
    line-height: 15vw;
}
.inicio h1 .one{
    color: white;
    font-size: 3em;
    font-weight: bold;
}
.inicio h1 .two{
    color: white;
    font-size: 3.5em;
    font-family: 'Alfa Slab One';
    border-bottom: 0.2vw solid #D52F15;
}
.inicio h2{
    padding-top: 2vw;
    font-size: 2em;
    color: lightgray;
    text-align: center;
    font-weight: bold;
}
.inicio div.instrucoes p{
    margin: 5vw 10vw 0 10vw;
    padding: 2vw 0 2vw 0;
    font-size: 1.5em;
    color: white;
    text-align: justify;
    font-weight: bold;
}
div.instrucoes{
    margin: 0 5vw 0 5vw;
    border-radius: 5vw;
    background-color: gray;
    background: rgba(0, 0, 0, 0.3)
}
#main{
    width: 60vw;
    height: 11vh;
    position: absolute;
    top:80%;
    left: 50%;
    perspective: 70vw;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
#box{
    width: 100%;
    height: 100%;
    display: block;
    background-color: #108E91;
    font-family: fantasy;
    font-size: 2.5em;
    color:#A2E6EF;
    text-align: center;
    line-height: 20vw;
    text-shadow: 0 0.05vw 0.1vw rgba(0,0,0,.2);
    box-shadow: 0 0.15vw 0.3vw rgba(59,2,97,.4);
    transition: all .5s;
}
#boxBottom{
    width: 100%;
    height: 5.8vh;
    background-color:#108E91;
    position: absolute;
    top:79%;
    left: 0;
    transform: rotateX(-87deg);
    transition: all .5s;
}
#main:hover #box{
    color: #52Dee7;
    background-color: #108E91;
    transform: rotateX(25deg);
    text-shadow: 0 0.1vw 0.1vw rgba(0,0,0,.2);
    box-shadow: 0 0.25vw 0.3vw rgba(59,2,97,.4);
}
#main:hover #boxBottom{
    transform: rotateX(-70deg);
}

/*--------------------ESCOLHER DIFICULDADE-----------------------------*/
.dificuldade{
    background-color:;
    font-family: Alfa Slab One;
    color: white;
    display: none;
    width: 100vw;
    height: 100vh;
    font-size: 2.5em;
    text-align: center;
}
.dificuldade h1{
    padding: 7vh 0vw 0vh 0vw;
    color: black;
}
.dificuldade ul{
    padding: 5vh 5vw 5vh 5vw;
}
.dificuldade ul li{
    margin: 5vh 5vw 5vh 5vw;
    border: 0.5vw solid black;
}
.dfacil, .dmedio, .ddificil{
    height: 16vh;
    line-height: 16vh;
    width: 80vw;
    background-color: #108E91;
    border-radius: 0.5em;     
}
.dificuldade ul li:hover{
    background-color: #108E91;
}
.dificuldade ul li:active{
    background-color: #A2E6EF;
    box-shadow: 0 0.5vw #666;
    transform: translateY(0.8vw);
}

/*--------------------JOGO-----------------------------*/
img{
    height: 9vh;
    line-height: 9vh;
    width: 13vw;
}
.jogo{
    text-align: center;
    width: 100vw;
    height: 95%;
    display: none;
    padding-top: 3vh;
    background-color: ;
}
.jogo div.tempo{
    z-index: 0;
    position: relative;
    margin: 0vh 0vw 0 5vw;
    width: 90vw;
    height: 8vh;
    background-color: white;
    text-align: center;
    border-radius: 5vw;
    border: 0.5vw solid black;   
}
.jogo div#progresso{
    text-align: center;
    z-index: 1;
    position: relative;
    width: 0vw;
    margin-left: 0vw;
    height: 8vh;
    border: none;
    background-color: #52Dee7;
    border-radius: 5vw;
}
.jogo span.seg{
    z-index: 2;
    position: relative;
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: bold;
    top: -6.5vh;
}
body div.fase ul.res{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0vh 5vw 1vh 5vw;
}
.fase ul.res li{
    background-color: white;
    font-size: 4em;
    height: 15vh;
    line-height: 15vh;
    width: 35vw;
    border-radius: 0.2em;
    margin: 1vh 1vw 1vh 1vw;
}
.fase ul ul{
    text-align: center;
    width: 90vw;
    height: 12vh;
    background-color: #BFEEEE;
    margin: 0 0 1.5vh 5vw;
    display: flex;
    justify-content: space-around;
    border: 0.2vw solid black;
    border-radius: 5vw;    
}
.fase ul ul.op11 li, ul ul.op12 li, ul ul.op13 li{
    margin-top: 1vh;
    text-align: center;
    width: 8vw;
    height: 12vh;
    line-height: 12vh;
    font-size: 2em;
}
.fase ul ul.op11 li.opr, ul ul.op11 li.equal,ul ul.op12 li.opr, ul ul.op12 li.equal, ul ul.op13 li.opr, ul ul.op13 li.equal{
    width: 2vw;
}
ul.res li.r1{
    background-color: #0273BE;
}
ul.res li.r2{
    background-color: #02AF17;
}
ul.res li.r3{
    background-color: #858702;
}
ul.res li.r4{
    background-color: #650258;
}
ul.res li{
    color: black;
    font-size: 2em;
    border-radius: 10vw;
    border: 0.3vw solid black;
    box-shadow: 0 0vw white;
}
ul.res li:hover{
    background-color: #108E91;
}
ul.res li:active{
    background-color: #A2E6EF;
    box-shadow: 0 0.5vw #666;
    transform: translateY(0.8vw);
}

/*--------------------GANHOU/PERDEU-----------------------------*/
#fase1,#fase2,#fase3,#fase4,#fase5,.perdeu,.ganhou{
    display: none;
}
.ganhou{
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    height: 90%;
}
.ganhou h1{
    margin: 0 10vw 15vw 10vw;
    color: white;
    line-height: 10vh;
    font-size: 3.5em;
    font-family: 'Alfa Slab One';
    border-bottom: 0.2vw solid #D52F15;
}
.ganhou h2{
    font-size: 2.5em;
    margin: 0 10vw 35vw 10vw;
    color: white;
    font-family: ALfa, sans-serif;
}
.ganhou p{
    background-color: #108E91;
    margin: 0 06vw 0 06vw;
    padding: 8vw 0 8vw 0;
    color: black;
    font-size: 2em;
    border-radius: 10vw;
    border: 0.3vw solid black;
    box-shadow: 0 0vw white;
}
.ganhou p:hover{
    background-color: #108E91;
}
.ganhou p:active{
    background-color: #A2E6EF;
    box-shadow: 0 0.5vw #666;
    transform: translateY(0.8vw);
}
.medio,#medio1,#medio2,#medio3,#medio4,#medio5{
    display: none;
}